@model List<MyEventViewModel>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>My events</h2>
        </div>
        <div class="card-body table-responsive">
            @if (!Model.Any())
            {
                <h3 class="text-danger">No events found</h3>
            }
            else
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Image
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Content
                        </th>
                        <th>
                            Accessibility
                        </th>
                        <th>
                            Update
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var _event in Model)
                    {
                        <tr>
                            <td>
                                @if (string.IsNullOrEmpty(_event.ImageBase64))
                                {
                                    <h5 class="text-danger">No Photo</h5>
                                }
                                else
                                {
                                    <img style="height: 160px;" src="data:image/png;base64,@_event.ImageBase64" alt="Uploaded Image">
                                }
                            </td>
                            <td>
                                @_event.Name
                            </td>
                            <td>
                                @_event.Content
                            </td>
                            <td>
                                @if (_event.IsPublic)
                                {
                                    <div class="text-success">Public</div>
                                }
                                else
                                {
                                    <div class="text-danger">Private</div>
                                }
                            </td>
                            <td>
                                <form asp-action="UpdateEvent" method="get" asp-route-id="@_event.Id">
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="DeleteEvent" method="post" asp-route-id="@_event.Id">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>