@model MusicFestivalManagementSystem.Models.StatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>
<ul>
    <li>Total Performers: @Model.TotalPerformers</li>
    <li>Total Performances: @Model.TotalPerformances</li>
    <li>Total Events: @Model.TotalEvents</li>
    <li>Most Popular Genre: @Model.MostPopularGenre</li>
</ul>
